# Question 1
Consider the following Python module:

a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your 
answer by indicating what happens in every executed statement.

In [3]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [4]:
b()

In [5]:
b()

In [6]:
b()

In [7]:
a

6

b()  --> 2
Global variable a with value as 0 is used inside function b and is passed as argument to function c

c increments value of a by 2

b()  --> 2+2 = 4

b()  --> 4+2 = 6

a    --> value will be displayed as 6

# Question 2
Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read 
as a text file, an exception will be raised. Modify function fileLength() so that a 
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [9]:
#Add try except 
def file_length(file_name):
     try:
         file = open(file_name)
         contents = file.read()
         file.close()
         print(len(contents))
     except:
          print("File " + file_name+ " not found")
file_length('C://Users/ANI/PycharmProjects/DataPgming9/maint.py')

File C://Users/ANI/PycharmProjects/DataPgming9/maint.py not found

# Question 3
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the 
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the 
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and 
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [13]:
class Marsupial: #Defining a class Marsupial
    def __init__(self): 
        self.data = [] 

    def put_in_pouch(self,thing): #defining a function put_in_pouch
        self.data.append(thing) #storing the entered value in thing

    def pouch_contents(self):
        return self.data

class Kangaroo(Marsupial): #Defining a class Kangaroo
    def __init__(self,x,y):
        self.x = x
        self.y = y
        Marsupial.__init__(self)

    def __str__(self):
        return "I am a Kangaroo located at coordinates ({},{})".format(self.x, self.y)

    def jump(self, dx,dy):
        self.x += dx
        self.y += dy

In [14]:
m = Marsupial()

In [15]:
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [16]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [17]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [18]:
k.jump(1,0)

In [19]:
k.jump(1,0)

In [20]:
k.jump(1,0)

In [21]:
print(k)

I am a Kangaroo located at coordinates (3,0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence:
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops

In [1]:
def collatz(n):
    if(n<=1):
        print('1')
    else:
        print(n)
        if(n%2==0):
            n= n//2
        else:
            n= (3*n) +1
        collatz(n)
collatz(10)

10
5
16
8
4
2
1

# Question 5
Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [5]:
s= ""
def binary(n):
    global s
    if(n<0):
        print("Number should be non negative")
    else:
        s= s + str(n%2)
        n=n//2
        if (n==0):
            return
        binary(n)
binary(8)
s1 = ""
for i in s:
    s1 = i + s1
print(s1)

1000

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML 
document, and retrieve and print all the headings in the document. You should 
implement your class as a subclass of HTMLParser, defined in Standard Library 
module html.parser. When fed a string containing HTML code, your class should 
print the headings, one per line and in the order in which they appear in the 
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your 
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [22]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
    def handle_starttag(self, tag, attrs):
        self.tag = tag
    def handle_data(self, data):
        if self.tag in ['h1','h2','h3','h4','h5','h6']:
            n=int(self.tag[1])
            print (n*' '+data, end = '')
infile = open('C://Users/ANI/Desktop/Georgian Student Docs/Data Programming/Week 06 Notebook/Week 06 Notebook/w3c.html')
content= infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

 W3C Mission
  Principles

# Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and 
non-negative integers depth and indent. Your function should visit every web 
page reachable from the starting URL web page in depth clicks or less, and print 
each web page's URL. As shown below, indentation, specified by indent, should 
be used to indicate the depth of a URL.
>>> 
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [82]:
from html.parser import HTMLParser
from urllib.request import urlopen
from urllib.parse import urljoin


class Appender(HTMLParser):

    def __init__(self, url):

        HTMLParser.__init__(self)
        self.url = url
        self.url_links = []

    def append(self):

        return self.url_links

    def handle_starttag(self, url_tag, attributes):
        for a in attributes:
            ab = urljoin(self.url, a[1])
            if ab[:4] == 'http':
                self.url_links.append(ab)


i = 0


def webdir(url, depth, i):
    depth = depth - 1
    print(i * '  ', url)

    objective = urlopen(url).read().decode()
    collection = Appender(url)
    collection.feed(objective)
    urls = collection.append()

    url_links = urls
    i = i + 4

    for link in url_links:
        if depth < 0 or i < 0:
            return 1
        else:
            webdir(link, depth, i)


webdir('http://reed.cs.depaul.edu/lperkovic/one.html', 2, 0)

 http://reed.cs.depaul.edu/lperkovic/one.html
         http://reed.cs.depaul.edu/lperkovic/two.html
                 http://reed.cs.depaul.edu/lperkovic/four.html
         http://reed.cs.depaul.edu/lperkovic/three.html
                 http://reed.cs.depaul.edu/lperkovic/four.html

# Question 8
Write SQL queries on the below database table that return: 
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.


City Country Season Temperature(C) Rainfall(mm)
Mumbai India Winter 24.8 5.9 
Mumbai India Spring 28.4 16.2 
Mumbai India Summer 27.9 1549.4 
Mumbai India Fall 27.6 346.0 
London United Kingdom Winter 4.2 207.7 
London United Kingdom Spring 8.3 169.6 
London United Kingdom Summer 15.7 157.0 
London United Kingdom Fall 10.4 218.5 
Cairo Egypt Winter 13.6 16.5 
Cairo Egypt Spring 20.7 6.5 
Cairo Egypt Summer 27.7 0.1 
Cairo Egypt Fall 22.2 4.5

In [23]:
 !pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\ani\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in c:\users\ani\anaconda3\lib\site-packages (from ipython-sql) (7.22.0)
Requirement already satisfied: six in c:\users\ani\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Collecting sqlparse
  Downloading sqlparse-0.4.1-py3-none-any.whl (42 kB)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\ani\anaconda3\lib\site-packages (from ipython-sql) (1.4.7)
Requirement already satisfied: jedi>=0.16 in c:\users\ani\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: pygments in c:\users\ani\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.8.1)
Requirement already satisfied: backcall in c:\users\ani\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\ani\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: colorama in c:\users\ani\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: pickleshare in c:\users\ani\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in c:\users\ani\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\ani\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: decorator in c:\users\ani\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.6)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\ani\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\ani\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ani\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.0.0)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13699 sha256=dab59bce875ae2bfd155d8750c06cf04a3236d4e49cfa0b7d69560f26a42e88c
  Stored in directory: c:\users\ani\appdata\local\pip\cache\wheels\48\6d\77\9517cb933af254f51a446f1a5ec9c2be3e45f17384940bce68
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.4.1

In [44]:
%load_ext sql

In [45]:
%sql sqlite://

In [64]:
%%sql
CREATE TABLE WEATHER_CITY (CITY varchar(50),COUNTRY varchar(50),SEASON varchar(50),TEMPERATURE int,RAINFALL int);
INSERT INTO WEATHER_CITY (CITY,COUNTRY,SEASON,TEMPERATURE,RAINFALL) VALUES('Mumbai','India','Winter','24.8','5.9');
INSERT INTO WEATHER_CITY (CITY,COUNTRY,SEASON,TEMPERATURE,RAINFALL) VALUES('Mumbai','India','Spring','28.4','16.2');
INSERT INTO WEATHER_CITY (CITY,COUNTRY,SEASON,TEMPERATURE,RAINFALL) VALUES('Mumbai','India','Summer','27.9','1549.4');
INSERT INTO WEATHER_CITY (CITY,COUNTRY,SEASON,TEMPERATURE,RAINFALL) VALUES('Mumbai','India','Fall','27.6','346.0');
INSERT INTO WEATHER_CITY (CITY,COUNTRY,SEASON,TEMPERATURE,RAINFALL) VALUES('London','United Kingdom','Winter','4.2','207.7');
INSERT INTO WEATHER_CITY (CITY,COUNTRY,SEASON,TEMPERATURE,RAINFALL) VALUES('London','United Kingdom','Spring','8.3','169.6');
INSERT INTO WEATHER_CITY (CITY,COUNTRY,SEASON,TEMPERATURE,RAINFALL) VALUES('London','United Kingdom','Summer','15.7','157.0');
INSERT INTO WEATHER_CITY (CITY,COUNTRY,SEASON,TEMPERATURE,RAINFALL) VALUES('London','United Kingdom','Fall','10.4','218.5');
INSERT INTO WEATHER_CITY (CITY,COUNTRY,SEASON,TEMPERATURE,RAINFALL) VALUES('Cairo','Egypt','Winter','13.6','16.5');
INSERT INTO WEATHER_CITY (CITY,COUNTRY,SEASON,TEMPERATURE,RAINFALL) VALUES('Cairo','Egypt','Spring','20.7','6.5');
INSERT INTO WEATHER_CITY (CITY,COUNTRY,SEASON,TEMPERATURE,RAINFALL) VALUES('Cairo','Egypt','Summer','27.7','0.1');
INSERT INTO WEATHER_CITY (CITY,COUNTRY,SEASON,TEMPERATURE,RAINFALL) VALUES('Cairo','Egypt','Fall','22.2','4.5');

 * sqlite://
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [65]:
%sql select * from WEATHER_CITY;

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [66]:
%sql select TEMPERATURE FROM WEATHER_CITY;

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [67]:
%sql SELECT DISTINCT CITY FROM WEATHER_CITY;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [72]:
%sql SELECT * FROM WEATHER_CITY WHERE COUNTRY = 'India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346)]

In [73]:
%sql SELECT * FROM WEATHER_CITY WHERE SEASON = 'Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [76]:
%sql SELECT CITY,COUNTRY, SEASON FROM WEATHER_CITY WHERE RAINFALL >= '200' AND RAINFALL <= '400';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [77]:
%sql SELECT CITY,COUNTRY FROM WEATHER_CITY WHERE SEASON = 'Fall' and TEMPERATURE >20 order by TEMPERATURE asc;

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [78]:
%sql SELECT SUM(RAINFALL) AS TOTAL_ANNUAL_RAINFALL FROM WEATHER_CITY WHERE CITY = 'Cairo';

 * sqlite://
Done.

[(27.6,)]

In [80]:
%sql SELECT SEASON,ROUND(SUM(RAINFALL),1) AS TOTAL_RAINFALL FROM WEATHER_CITY GROUP BY SEASON;

 * sqlite://
Done.

[('Fall', 569.0), ('Spring', 192.3), ('Summer', 1706.5), ('Winter', 230.1)]

# Question 9 
Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following 
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list 
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], 
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list 
words, where each list contains the word in uppercase and lowercase and the 
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog'] (the list of words in list words containing 4 or more 
characters.

In [12]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

upper_lst = [x.upper() for x in words]
print(upper_lst) 

lower_lst = [x.lower() for x in words]
print(lower_lst) 

len_lst = [len(x) for x in words]
print(len_lst)

lst_all =[[x.upper(), x.lower() , len(x)] for x in words]
print(lst_all)

gtr4_lst = [x for x in words if len(x) >= 4]
print(gtr4_lst)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']